@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --dark-blue: #081257;
    --white: #ffffff;
    --black: #000000;
    --black-blue: #02061fe8;
    --blue: #10268e;
    --light-blue: #045eb1;
    --sky-blue: #03c9f5;
    --pastle-blue: #1d4a73d4;
    --pale-white: #f0f1f6;
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
}
.App {
    position: relative;
    overflow-x: hidden;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-section{
    overflow: hidden;
    position: relative;
    z-index: -2;
    background-color: var(--dark-blue);
    color: var(--white);
    height: 100vh;
    width: 100vw;
}
.breach{
    position: absolute;
    font-size: 150px;
    top: 30vh;
    left: 100px;
}.checker{
    position: absolute;
    font-size: 150px;
    top: 50vh;
    left: 100px;
}
.sphere {
    position: absolute;
    top: 20vh;
    right: 3vw;
    width: 25vw;
    height: 25vw;
}
.skyblue{
    background-color: var(--sky-blue);
    position: absolute;
    transform: rotate(53deg);
    right: -548px;
    top: -192px;
    width: 977px;
    height: 585px;
    z-index: -1;
}.blackblue{
    background-color: var(--black-blue);
    position: absolute;
    transform: rotate(142deg);
    right: -348px;
    bottom: -229px;
    width: 977px;
    height: 585px;
    z-index: 0;
}.navbar{
    margin: 20px;
    justify-content: space-around;
}.navbar-left img{
    width: 50px;
    height: 50px;
}.navbar-right{
    width: 40vw;
    justify-content: space-around;
}.navbar-right a{
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

.second-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--pastle-blue);
}

.search-box {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    height: 10vh;
    justify-content: space-around;
}.search-box input{
    width: 80%;
    height: 100%;
    outline: none;
}.search-box button{
    cursor: pointer;
}.search-desc , .search-results {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    color: var(--white);
}.search-results {
    top: 50%;
    display: flex;
    flex-direction: column;
}.search-results div{
    padding: 10px;
}.red{
    color: red;
}.green {
    color: green;
}

.danger {
	background: linear-gradient(-45deg, #dd3c0b85, #cf272f91, #f1070798);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
.safe {
	background: linear-gradient(-45deg, #d7ee5285, #72e73c91, #23d55898);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}